/* Universal style */
html {
    font-size: 16px;
}

body {
    margin: 0;
    background-color: white;
    font-family: Helvetica Arial sans-serif;
    font-size: 16px;
    background-origin: border-box;
}

a,
ul,
li{
    color: black;
    text-decoration: none;
    text-align: right;
    text-align: center;
    padding: 1em;
}

h2,
h3,
h4 {
    text-align: center;
    margin: 0;
}

/* Header */

.flexcontainer {
    display:block;
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 3.163em;
    background-color: black;
    align-items: center;
}

 .flexcontainer span {
    display: flex;
    text-align: left;
    background-color: white;
    font: Helvetica 400 1em;
    text-transform: capitalize;
    min-height: 64px;
    padding-left: 24px;
    flex-wrap: wrap;
    max-width: 100%;
}

img.logo {

    padding-left: 0.4545em;
    opacity: 0.8;
}

#Topmenu {
    margin-right: 24px;
    text-decoration: none;
    font-size: 1em;
    flex-direction: row;
    padding-left:  16px;
    padding-right: 16px;
}

#topmenu ul li {
    font-family: Helvetica Arial sans-serif;
    color: black;
    font-weight: 600;
    font-size: large;
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    opacity: 1;
}

/* Banner section*/
main {
    
    padding-left: 24px;
    width: 1700px;
    background-color: gray;
}

main.banner {
    display: flex;
    flex-direction: row;

}

main .banner-image {
    margin: 10px auto;
    height: auto;
    width: auto;
}

main .button {
    display: inline;
    padding-bottom: 8px;
}