/* Universal Styles */
html {
    font-size: 16px;
}

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    background-color:white;
    text-align: center;
    font-size: 1rem;
    opacity: 0.9;
    background-origin: border-box;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  p {
    text-transform: capitalize;
  }

  .logo{
    position: relative;
    left: 24px;
    
  }

  h2,
  h3,
  h4 {
    text-align: center;
    }
  
  

/* Header Section */
  
  header.flex-container {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 3.163em;
    background-color: white;
    align-items: center;
  }
  
  img.logo {
   right: 24px
   im
  }
  
  nav {
    text-align: right;
    flex-grow: 1;
  }
  
  span {
 font-size: 1 rem;
 color: black;
 text-align: left;
    height: 2.2727em;
    padding-left: 0.4545em;
    opacity: 0.8;
text-transform: capitalize;

  }
  nav span {
    font-family: Helvetica Arial sans-serif;
    font-weight: 300;
    font-size: small;
    display: inline-flex;
    justify-content: flex-end;
    padding: 0.9090em 0.4545em;
    opacity: 0.9;
  }
  
  /* Main Section */
  
  #topmenu.menu {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
  }