/* Universal Styles */

body {
  margin: 0;
  font-family: "Helvetica" sans-serif;
  stroke-dasharray: none;
  color: black;
  background-color: #ffebcd;
  font-size: 16px;
  width: 1200px;
  height: 100%;
  position:relative;
}

a {
  color: black;
  text-decoration-line: none;
  font-size: 20px;
  font-weight:bold;
  padding:16px;

}

.flex-container {
  display:inline-flex;
  justify-content:stretch;
  flex-wrap: wrap;
  background-color: white;
  width: 1110px;
}

 
 

/* Header section*/


header.flex-container{
  display:flex;
  position: fixed;
  z-index: 3;
  height: 69px;
  width: 1500px;
  background-color: white;
  border-bottom: 1px thin black;
  text-align:right;
  flex-wrap: wrap;
  flex-basis:content;
  flex-direction: row;

}

header.flex-container, p {

  flex: 2 1 ;
  padding-left: 16px;
  flex-basis: 1189px;
  padding-right: 16px;
  justify-items: stretch ;
  text-align: center;
}

header img{
flex:none;
position: relative;
align-self: center;
height: 100%;
border-bottom: 10px;
margin-bottom: 10px;
}


.flexcontainer nav{flex: auto;
  align-items: stretch;
  text-align: right;
  flex-grow: 1;
  border-top: 20 thin black;
flex-flow:row}

 nav span {
  flex:content;
  padding: 20px 10px;
  
 
}

/* Main section*/

#jumbotron{display:flex;
}




img {
    flex:60%;
    flex-wrap:wrap ;
    background-position: left;
    position: absolute;
  background-size:contain;
  background-repeat: no-repeat;
  padding-top: top 70px;
}


#jumbotron p, #jumbotron div {
  flex:1 2;
  float:inline-end;
  padding-top: 8px;
  padding:20px;
  background-color:gray;
  color: black;
  font-size: 40px;
}


 .main_bttn
 {font-family: 'Raleway', sans-serif;
  flex:content;
  float:right;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.3px;
  padding-top: 8px;
  padding-bottom:8px;
  background-color: gray;
  color: white;d}