/* Universal Styles */
@font-face {
  font-family:"Helvetica" ;
  src: url(/assets/fonts/Free-Sans-2/Helvetica.ttf) format("truetype");
}
*{
background-origin: border-box;
}
body{
  margin: 0;
  font-family: Helvetica sans-serif;
  stroke-dasharray: none;
  color: dimgrey;
  background-color: whitesmoke;
  font-size: 16px;
  height: 100%;
  background-origin: border-box;
  position: absolute;
}

a {
  color: black;
  text-decoration-line: none;
  font-size: 20px;
  font-weight: bold;
  padding: 16px;

}

.flex-container {
  display: inline-flex;
  justify-content:center;
  flex-wrap: wrap;
  background-color: whitesmoke;
  max-width:100%
}

h2{
  font-size: 32px;
}

p{
  font: size 16px;
}

/* Header section*/


header.flex-container {
  display:flex;
  justify-content: start;
  max-width: 100%;  
  flex-wrap:nowrap;
  flex-direction: row;
  width: 100%;
  position: fixed;
  z-index: 1;
  border: none;
}

header.flex-container .tittle{
  display:inline-flex;
  flex-flow:row;
  flex-wrap: nowrap;
  flex-grow:0.3;
  justify-content: flex-start;
  font-size: 1.5em;
  text-align:start;
  line-height:1.8;
  max-width: 500px;
  margin-left:1em; }


  header .tittle span{
    text-align:start;
    align-self: flex-start;
  }

header img {
  position: relative;
  flex: none;
  align-self:flex-start;
  padding-left: 24px;
  height: 80%;
  width: 2em;  
}


header nav {
  display: inline-flex;
  margin-left: 90px;
  flex-flow: row;
  width: 60%;
  justify-content: flex-end;
  align-items: center;
  vertical-align: bottom;
  border-top: none;
  flex-direction: row;
}

header nav span {
  flex: 2 1 ;
  line-height: 2.5;
  text-align:end;
  margin-left: 1em;
  margin-right: 1em;
}

/* Learn section*/
#banner{
display: flex;
margin-top: 2.6em;
width:1600px;
height:880px;
flex-wrap: nowrap;
align-items: stretch;
background-color: hsla(0, 0%, 85%, 1);
}

#banner h2 {
  display: flex;
  width:90%;
  justify-content: center;
  font-size: 2em;
  flex-flow: column;
  text-align: center;  
  align-items: flex-end;
  align-content: center;
  column-gap: 10px;
  margin-top: 170px;
  flex-wrap: wrap-reverse;
}

#banner img {
  flex-basis: 60%;
  align-self: flex-start;
  position: relative;
  width: 60%;
  height:816px;
  background-repeat: no-repeat;
  padding: 2em 1.5em;
  background-size: contain;
  margin: 0px;
}

#banner div p {
  display: flex;
  flex-direction: row-reverse;
  flex: 1 2;
  justify-content: center;
  width:90% ; 
  padding-top: 20px;
  background-color: hsla(0, 0%, 85%, 1);
  color: rgb(92, 87, 87);
  text-align: center;
}

#banner div{
  flex-direction:column-reverse;
  flex-basis: 40%;
  width: 619px;
  padding-top: 130px;
}

div a.main_bttn {
  display: inline-flex;
  font-family: 'Helvetica' sans-serif;
  justify-self: flex-end;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 1em;
  font-weight: 400;
  width: 90%;
  font-size:20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: hsla(0, 0%, 29%, 1);
  justify-content: center;
  color: whitesmoke;
  
}

/* information Section*/
.information {
  display: flex;
  width: 100%;
  margin: 0;
}

.information-left {
  padding: 32px 24px 32px 24px;
  color:rgb(61, 61, 61);
  width: 62%;
}

.information-left img {
  width: 100%;
  
}

.information-left h2 {
 font-size: 40px;
 font-weight: bold;
}

.quote {
 padding-bottom: 24px;
 font-size: 19px;
 color: rgb(112, 111, 111);
}

.information-left p {
 color: rgb(112, 111, 111);
}

/* First Side-bar*/


.information-right {
  width: 38%;
  padding-top: 16px;
  
  color:rgb(61, 61, 61);
  border-left: whitesmoke solid 1px;
}

.information-right a {
  color: rgb(179, 103, 32);
}

.info-sections {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: rgb(229, 226, 226) solid 1px;
  border-top: rgb(229, 226, 226) solid 1px;
  border-left:rgb(229, 226, 226) solid 1px;
  margin-top: 16px;
}

.info-sections:hover {
  background-color: rgb(199, 230, 224);
}

.img-container {
  width: 35%;
  margin-right: 24px;
}

.info-sections img {
  max-width: 100%;
  padding: 16px;
}

.info-sections h4 {
  font-size: 24px;
  font-weight: 510;
  margin: 0;
}

.info-sections p {
  color: rgb(112, 111, 111);
  }

  /* Start learning inline block*/
.learning{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding-top: 1em;
    padding-right: 72px;
    padding-left: 72px;
    padding-bottom: 32px;
    background-color: hsla(0, 0%, 85%, 1);
    max-width: 100%;
  }



  /* Start learning*/
h3.Start{
    position:static;
    text-align: center;
    width: 100%;
    border-top: 10px solid hsla(0, 0%, 85%, 1);
    padding: 2em 0;
    align-self: center;
    font-size: 35px;
    color:hsla(0, 0%, 29%, 1);
    font-weight:bolder;
    font-stretch:100%;
  }

   

 /* learning section*/
  .learning .software,
  .learning .design,   
  .learning .computer-art,
  .learning .data,
  .learning .Business,
 .learning .Marketing{
   position: relative;
   display:inline-block;
   align-items: center;
   align-self:center;
   justify-items: center;
    position: relative;
    top: 1em;
    right: 72px;
    bottom: 32px;
    height:auto;
    padding-right: 32px;
    background-color: whitesmoke;
    margin-left: 30px; 
    align-items: baseline;
     }
   
     .learning p,
     h4{
      padding:0.4em;
      justify-content: center;
      padding-bottom:24px;
      color: hsla(0, 0%, 58%, 1);
     }
   
  /* Thesis exhibit*/
  
.thesis {
  border-bottom: rgb(229, 226, 226) solid 1px;
  border-left:white solid 1px;
  border-right: white solid 1px;
}
.thesis-container {
  display: flex;
}

.thesis-header h2 {
  font-size: 40px;
  font-weight: bold;
  color:rgb(61, 61, 61);
  text-align: center;
  padding-top:1em;
  
}
  
.thesis-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0 24px 32px 24px;
}

.thesis-left h2 {
  font-size: 40px;
  font-weight: bold;
  color:rgb(61, 61, 61);
}

.thesis-left p {
  font-size: 19px;
  color: rgb(112, 111, 111);
}

video {
  max-width: 100%;
}
.thesis-right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesis-right img {
  max-width: 100%;
  padding: 16px;
}

.thesis-sections {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: rgb(229, 226, 226) solid 1px;
  border-top: rgb(229, 226, 226) solid 1px;
  border-left: rgb(229, 226, 226) solid 1px;
  margin-bottom: 10px;
}

.thesis-sections h2 {
  color:rgb(61, 61, 61);
  font-size: 24px;
  font-weight: 510;
  padding-top:1em;
}

.thesis-sections p {
  color: rgb(112, 111, 111);
}

.thesis-sections:hover {
  background-color: rgb(199, 230, 224);
}

    /* Footer*/
    footer p {
      position: relative;
      flex-direction: row;
      display:block;
      font-size: 16px;
      justify-content: space-between;
      display: inline-block;
      justify-self: flex-end;
      width: 1000px;
    }

        /* MEDIA QUERY*/

@media only screen and (max-width: 800px){
                      /*INFORMATION*/

    .information-left {
      display: none;
  }

  .information-right {
      width: 100%;
  }

  .info-sections {
      display: block;
      max-width: 100%;
      border: none;
      padding: 16px;
  }
  .img-container {
      width: 100%;
  }

  .desktop img {
      display: none;
  }

}


                            /* MEDIA QUERY*/
 @media only screen and(max-width:800px){
                              /*HEADER*/
  .mobile {
      display: flex;
      justify-content: space-around;
      align-content: center;
      width: 100%;
  }

  .mobile a {
      margin: auto;
  }

  .header-right, .header-left {
      display: none;
  }

                              /*BANNER*/

  .banner {
      display: block;
      padding: none;
      width: 100%;
  }

  .banner img {
      padding: 0;
      width: 100%;
  }

  .banner-button {
      padding: 0 16px 32px 16px; 
  }

                              /*INFORMATION*/

  .information-left {
      display: none;
  }

  .information-right {
      width: 100%;
  }

  .info-sections {
      display: block;
      max-width: 100%;
      border: none;
      padding: 16px;
  }
  .img-container {
      width: 100%;
  }

  .desktop img {
      display: none;
  }

                              /*START LEARNING*/

  .course-container {
      display: none;
  }

  .learning-mobile {
      display: flex;
      flex-direction: column;
      padding: 32px;
      
  }

  #mobile-button {
      margin: 8px auto;
      padding: 24px 16px;
      background-color: rgb(233, 223, 132);
      width: 90%;
      font-size: 24px;
      color:rgb(61, 61, 61);
      border: none;
      cursor: pointer;
      text-align: left;
  }

  #mobile-button:hover {
      background-color: rgb(228, 215, 99);
  }
                                  /*THESIS*/

  .thesis-left {
      width: 100%;
      padding: 0;
  }

  .thesis-left h2 {
      display: none;
  }

  .thesis-left p {
      display: none;
  }

  video {
      width: 100%;
  }

  .thesis-right {
      display: none;
  }

                                  /*FOOTER*/

  .mobile-footer {
      display: none;
  }
}






